services:
  mqtt-broker:
    image: eclipse-mosquitto
    volumes:
      - ./mqtt-broker/config:/mosquitto/config
    ports:
      - "8883:8883"
    secrets:
      - ca_cert
      - broker_cert
      - broker_key

  publisher:
    build: ./publisher
    env_file: .env
    secrets:
      - ca_cert
      - publisher_cert
      - publisher_key
    depends_on:
      - mqtt-broker

  subscriber:
    build: ./subscriber
    env_file: .env
    secrets:
      - ca_cert
      - subscriber_cert
      - subscriber_key
    depends_on:
      - mqtt-broker

secrets:
  ca_cert:
    file: ./ca/certs/bundle_ca.crt
  broker_cert:
    file: ./ca/certs/mqtt-broker.crt
  broker_key:
    file: ./ca/secrets/mqtt-broker.key
  publisher_cert:
    file: ./ca/certs/publisher.crt
  publisher_key:
    file: ./ca/secrets/publisher.key
  subscriber_cert:
    file: ./ca/certs/subscriber.crt
  subscriber_key:
    file: ./ca/secrets/subscriber.key

